/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'LASV profile V08'
    config_profile_description = '8th phylo analysis required by people of Guinea'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 10
    max_memory = '40.GB'
    max_time   = '6.h'

    // Necessary inputs
    input_S      = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/V08/input/raw_newLASV-GIN_dec2022_S.fasta'
    input_L      = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/V08/input/raw_newLASV-GIN_dec2022_L.fasta'
    alignment_S  = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/V08/input/LASV_S_alignment_7.fasta'
    alignment_L  = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/V08/input/LASV_L_alignment_7.fasta'
    tree_L       = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/V08/input/LASV_L_alignment_7.fasta.treefile'
    tree_S       = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/V08/input/LASV_S_alignment_7.fasta.treefile'

    //constant inputs
    input_POL    = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/Philippe_ref/L_pol.sub.RC.fas'
    input_Z      = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/Philippe_ref/L_z.sub.fas'
    input_GPC    = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/Philippe_ref/S_gpc.sub.fas'
    input_NP     = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/Philippe_ref/S_np.sub.RC.fas'

    // out dir
    outdir      = '/Users/joonklaps/Desktop/School/PhD/side_projects/guinea/LVE-PRJ02-supplementary_V02/Suppl/Files_used_in_pipeline_JK/V08/nf_out'
}
