params {
    config_profile_name        = 'test full'
    config_profile_description = 'Run pipeline with iqtree input files'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '8.GB'
    max_time   = '1.h'

    // Necessary inputs
    alignment_L  = 'alignment-L.fasta'
    tree_L       = 'alignment-L.fasta.treefile'
    alignment_S  = 'alignment-S.fasta'
    tree_S       = 'alignment-S.fasta.treefile'
    input_L      = 'input-L.fasta'
    input_S      = 'input-S.fasta'

    // out dir
    outdir      = 'testing'
}
