process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'test full'
    config_profile_description = 'Run pipeline with iqtree input files'

    // Necessary inputs
    input_L      = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/input-L.fasta'
    input_S      = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/input-S.fasta'

    // out dir
    outdir      = 'testing'
}
