params {
    config_profile_name        = 'test full'
    config_profile_description = 'Run pipeline with iqtree input files'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '4.GB'
    max_time   = '1.h'

    // Necessary inputs
    alignment_L  = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/alignment-L.fasta'
    tree_L       = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/alignment-L.fasta.treefile'
    alignment_S  = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/alignment-S.fasta'
    tree_S       = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/alignment-S.fasta.treefile'
    input_L      = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/input-L.fasta'
    input_S      = 'https://raw.githubusercontent.com/Joon-Klaps/lasvphylo/master/assets/test_data/input-S.fasta'

    // out dir
    outdir      = 'testing'
}
