name: nf-core CI
# This workflow runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on:
  push:
    branches:
      - dev
      - master
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  test-profiles:
    name: "Run pipeline with test data (${{ matrix.NXF_VER }}) | (${{ matrix.test_profile }})"
    # Only run on push if this is the nf-core dev branch (merged PRs)
    if: "${{ github.event_name != 'push' || (github.event_name == 'push' && github.repository == 'Joon-Klaps/lasvphylo') }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER:
          - "25.04.0"
          - "latest-everything"
        test_profile:
          - "test_nbase"
          - "test_full"
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b #4

      - name: Free some space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2
        with:
          version: "${{ matrix.NXF_VER }}"

      - name: Run pipeline with small test data using ${{ matrix.test_profile }}
        env:
          profile: ${{ matrix.test_profile }}
        run: |
          nextflow run ${GITHUB_WORKSPACE} -ansi-log false -profile docker,${profile} --outdir ./results
